asgiref==3.6.0
attrs==22.2.0
Automat==22.10.0
boto3==1.26.146
botocore==1.29.146
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.0.1
constantly==15.1.0
cryptography==39.0.1
cssselect==1.2.0
Django==4.1.6
django-better-admin-arrayfield==1.4.2
django-cleanup==7.0.0
django-cors-headers==3.13.0
django-environ==0.9.0
django-filter==22.1
django-model-utils==4.3.1
django-storages==1.13.2
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
drf-spectacular==0.25.1
drf-spectacular-sidecar==2022.12.1
environ==1.0
filelock==3.9.0
freetype-py==2.3.0
hyperlink==21.0.0
idna==3.4
incremental==22.10.0
inflection==0.5.1
itemadapter==0.7.0
itemloaders==1.0.6
jmespath==1.0.1
jsonschema==4.17.3
lxml==4.9.2
numpy==1.24.3
packaging==23.0
pandas==2.0.1
parsel==1.7.0
Pillow==9.5.0
Protego==0.2.1
psycopg2==2.9.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.23.0
pycparser==2.21
PyDispatcher==2.0.6
PyJWT==2.7.0
pyOpenSSL==23.0.0
pyrsistent==0.19.3
python-dateutil==2.8.2
python-http-client==3.3.7
pytz==2022.7.1
PyYAML==6.0
queuelib==1.6.2
reportlab==4.0.0
requests==2.28.2
requests-file==1.5.1
rlPyCairo==0.2.0
s3transfer==0.6.1
Scrapy==2.8.0
sendgrid==6.10.0
service-identity==21.1.0
six==1.16.0
sqlparse==0.4.3
starkbank-ecdsa==2.2.0
stripe==5.4.0
tldextract==3.4.0
Twisted==22.10.0
typing_extensions==4.4.0
tzdata==2022.7
uritemplate==4.1.1
urllib3==1.26.14
w3lib==2.1.1
zope.interface==5.5.2
